.left-container {
    width: 35%;
    position: fixed;
    height: 100%;
    padding: 75px 50px 50px 50px;
    left: 0;
}
h1 {
    font-size: 46px;
    font-weight: bold;
}

h2{
    font-size: 22px;
}

p {
    padding-top: 10px;
    font-weight: 100;
}

.image-container {
    position: absolute;
    bottom: 30px;
}

.sm {
    display: flex;
    flex-direction: row;
    transform: translateX(90px);
    & > * {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .left-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        max-width: 100%;
        width: 100%;
        align-items: center;
    }
    .image-container {
        position: relative;
    }
    .sm {
        margin-top: 70px;
        transform: translateX(0px);

    }
}

